@model IEnumerable<TemplateViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/SoftDev.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbVariables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDGrp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbVariables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDGrp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTemplate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTemplate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTemplate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
